@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from { height: 0; }
    to { height: var(--radix-accordion-content-height); }
  }
  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height); }
    to { height: 0; }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #020817;

  --card: #ffffff;
  --card-foreground: #020817;
  
  --popover: #ffffff;
  --popover-foreground: #020817;

  --primary: #F54E02;
  --primary-foreground: #ffffff;
  
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  
  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
  
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;

  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #F54E02;

  --radius: 0.5rem;
}

.dark {
  --background: #020817;
  --foreground: #f8fafc;
  
  --card: #020817;
  --card-foreground: #f8fafc;
  
  --popover: #020817;
  --popover-foreground: #f8fafc;
  
  --primary: #F54E02;
  --primary-foreground: #ffffff;
  
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  
  --accent: #1e293b;
  --accent-foreground: #f8fafc;
  
  --destructive: #7f1d1d;
  --destructive-foreground: #f8fafc;
  
  --border: #1e293b;
  --input: #1e293b;
  --ring: #F54E02;
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
